**/*.csproj
**/*.sln
2026-0912-avoidance/program/demo-unity-avoidance/.codely.packages/
2026-0912-avoidance/program/demo-unity-avoidance/.codely-cli/
2026-0912-avoidance/program/demo-unity-avoidance/.idea/
2026-0912-avoidance/program/demo-unity-avoidance/Library/
2026-0912-avoidance/program/demo-unity-avoidance/Logs/
2026-0912-avoidance/program/demo-unity-avoidance/obj/
2026-0912-avoidance/program/demo-unity-avoidance/screenshots/
2026-0912-avoidance/program/demo-unity-avoidance/Temp/
2026-0603-foundGap/program/demo-unity-foundGap/.codely.packages/
2026-0603-foundGap/program/demo-unity-foundGap/.codely-cli/
2026-0603-foundGap/program/demo-unity-foundGap/Library/
2026-0603-foundGap/program/demo-unity-foundGap/Logs/
2026-0603-foundGap/program/demo-unity-foundGap/screenshots/
2026-0603-foundGap/program/demo-unity-foundGap/Temp/
2026-0915-RPGTest/program/demo-unity-RPGTest/Library/
2026-0915-RPGTest/program/demo-unity-RPGTest/Logs/
2026-0915-RPGTest/program/demo-unity-RPGTest/Temp/
2026-0915-RPGTest/program/demo-unity-RPGTest/.idea/.idea.demo-unity-RPGTest/.idea/
2026-0915-RPGTest/program/demo-unity-RPGTest/obj/
2026-0915-RPGTest/program/demo-unity-RPGTest/.codely.packages/
2026-0915-RPGTest/program/demo-unity-RPGTest/.codely-cli/
